---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Cookie Recipe.">
	<main class="recipe">
		<div class="home">
			<div class="bg-black w-screen h-[177vw] sm:max-h-[1080px]">
				<!-- <video autoplay playsinline loop id="recipe_cookies" class="w-full sm:max-w-hero mx-auto">
					<source src="https://crumbl.video/3f9099e3-f67f-4752-ac55-9026c145b389_WeeklyWideJan8-15_V2_COMPRESSED.mp4" type="video/mp4"/>
				</video> -->
				<img src="https://images.unsplash.com/photo-1637527843617-faa69ecf4a58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2265&q=80"/>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.recipe .home {
		margin-top: -88px;
		overflow: hidden;
	}
	
</style>
